*{
    box-sizing: border-box;
}

body{
    font-size: 15px;
    background-color: #000000;
    margin: 0;
    text-transform: uppercase;
    background-image: url(../images/general/background.png);
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff; 

}




a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.active{
    color: #000000;
    border-bottom: 2px solid #000000;
}


.main-header{
    width: 100%;
    background-color: #b38f00;
    position: fixed;
    top: 0;
    z-index: 4000;
}

.header-logo{
    margin-left: 50px;
    display: flex;
    align-items: center;
}



.main-navigation{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.site-navigation{
    width: 700px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-navigation a{
    margin:7px 14px;
    padding: 10px 0;
}

.site-navigation a:hover{
    color: #000;
    border-bottom: 1px solid #000;
    transition: 1.2s;
}

.fa-basket-shopping{
    font-size: 25px;
    color: #000;
}


.social-list{
    display: flex;
    align-items: center;
    margin: auto o;
}

.social-button-header{
    display: inline-block;
    font-size: 21px;
    padding: 5px 7px;
    /* margin-right: 5px; */
    /* border-radius: 30px; */
    /* margin-bottom: 20px; */
}

.social-button-header:hover{
    color: #000;
}

.information{
    display: flex;
    justify-content: flex-start;
    width: 700px;
    border-bottom: 1px solid #000;
}

.information li a{
    padding: 7px 14px;
}

.fa-angle-down{
    /* padding: 15px; */
    margin-left: 10px;
    color: #000;
}

.fa-mobile-screen, .fa-envelope, .fa-circle-exclamation{
    padding: 10px;
    color: #000;
    font-size: 20px;
}

.menuList{
    background-color: #fff;
    color: #000;
    width: 100px;
    position: absolute;
    right: 530px;
    top: 90px;
    text-align: center;
    display: none;
}

.menuList li{
    padding: 15px;
}

.menuListBlock{
    display: block;
}

.delivery-info{
    text-transform: none;
    background-color: #000;
    padding: 10px 15px;
    position: absolute;
    top: 40px;
    display: none;
}

.delivery-info-block{
    display: block;
    transition: 2s;
}

.nav-btn{
    display: none;
    color: #000000;
    font-size: 23px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    height: 26px;
}

.nav-btn div{
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 4px 4px
}



.mobile-close{
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 6px 13px;
    display: none;
    font-size: 19px;
}



.contact-container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

h1{
    position: relative;
    font-size: 70px;
    display: block;
    margin: 180px 40px 50px;
}

h1::after{
    content: "";
    display: block;
    background-color: #fff;
    height: 4px;
    width: 970px;
    position: absolute;
}

.contact-info{
    width: 100%;
}

.contact-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-transform: none;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-left: 0;
}

.contact-item{
    margin: 20px;
 } 

 .contact-item-about{
     position: relative;
     border-top: 3px solid #b38f00;
 }

 .contact-item-about::after{
     content: "";
     display: block;
     background-color: #b38f00;
     width: 3px;
     height: 285px;
     position: absolute;
     top: 10px;
     left: -10px;
 }

 .contact-item-open{
     position: relative;
     border-top: 3px solid #b38f00;
 }

.contact-item-open::after{
    content: "";
    display: block;
    background-color: #b38f00;
    width: 3px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: -10px;
}

.contact-item-email{
    position: relative;
    border-top: 3px solid #b38f00;
}

.contact-item-email::after{
    content: "";
    display: block;
    width: 3px;
    height: 115px;
    background-color: #b38f00;
    position: absolute;
    top: 10px;
    left: -10px;


}

.contact-item h3{
    margin: 5px;
    margin-bottom: 50px;
}

.contact-item p{
    line-height: 22px;
    margin: 5px;
    margin-bottom: 23px;
}

.contact-item a{
    margin: 5px;
    text-decoration: underline;
}


.contact-map{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 98vw;
    height: 80vh;
}

.main-footer{
    font-size: 15px;
    background-color: #0d0d0d;
    position: absolute;
    width: 100%;
}

.main-footer .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

}

.footer-contacts{
    color: #ffffff;
    text-align: left;   
    line-height: 20px;
    margin-left: 50px;
}

a.found{
    text-decoration: underline;
}



.social-footer{
    text-align: center;
}

.social-footer p{
    display: block;
    margin-bottom: 20px;
}

.social-button{
    display: inline-block;
    font-size: 21px;
    padding: 10px 12px;
    margin-right: 5px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.social-button:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 1s;
}

.create{
    text-align: center;
    width: 26%;
    margin-right: 50px;
    margin-bottom: 30px;
}

.owner{
   text-transform: capitalize;
   padding: 8px 16px;
   /* background-color: #b38f00; */
   /* color: #000; */
   padding: 7px;
   border: 1px solid #fff;
}

.owner:hover{
   box-shadow: 0 0 10px 1px;
}
































@media screen and (max-width: 1020px) {
    body{
        background-size: cover;
    }       

    h1::after{
        content: "";
        display: block;
        background-color: #fff;
        height: 4px;
        width: 700px;
        position: absolute;
    }

    .found{
        display: none;
    }
}

@media screen and (max-width: 945px) {

    .information{
        display: none;
    }

    .social-list{
        display: none;
    }

    .header-logo{
        margin: 20px;
        margin-left: 60px;
    }
 
    .nav-btn{
     position: absolute;
     display: block;
     right: 60px;
     top: 70px;
     
 }
 
    .close-btn{
     display: block;
     position: fixed;
     z-index: 4000;
     right: 20px;
     top: 30px;
 }
 
    .site-navigation{
        display: none;
        padding-left: 0;
    }
 
 
    .mobile-main-nav{
     margin-left: 0;
     position: fixed;
     z-index: 1000;
     background-color: #b38f00;
     display: flex;
     align-items: center;
     vertical-align: middle;
     justify-content: space-around;
     height: 100vh;
     width: 100vw;
     top: 0;
     opacity: 0.99;
     padding-left: 0;
     transition: 0.8s;
 
 }
 
 .site-navigation a:hover{
     border-bottom: 1px solid #000;
     color: #000000;
     transition: 0.8s;
 }
 
 
 
 .header-logo-none{
     display: none;
 }
 
 .nav-btn-none{
     display: none;
 }
 
 .mobile-site-nav{
     display: flex;
     flex-direction: column;
     line-height: 90px;
 }
 
 
 
 .social-button{
     background-color: #fff;
     color: #000;
 }
 
 .contact-item{
     margin: 20px auto;
     padding: 15px;
 }
 
 .contact-list{
     padding: 20px;
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 0;
 }
 
 .contact-map{
     width: 100vw;
     height: 60vh;
 }
 
 
 .social-footer{
     margin: 0 30px;
 }
 
 .create{
     margin: 30px auto;
 }



}


@media screen and (max-width: 800px) {
    .create{
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }

    .social-footer{
        margin-right: 50px;
    }

}


@media screen and (max-width: 768px) {

    body{
       padding-top: 0;
       background-size: cover;
       
   }



   .main-header{
       position: relative;
   }


    h1{
        border-bottom: 2px solid #fff;
        display: inline-block;
        margin: 50px;
    }


    h1::after{
        content: "";
        display: block;
        background-color: #ffffff;
        height: 2px;
        width: 0;
        position: absolute;
    }


}



@media screen and (max-width: 620px) {

    h1{
       font-size: 50px;
       text-align: center;
       display: block;
   }
   .footer-contacts{
       margin: 30px 10px;
       text-align: center;
   }
   .main-footer .container{
       display: block;
   }
   .social-footer{
       margin: 0 auto;
   }
   .create{
       width: auto;
       margin: 30px 10px;
   }

   .contact-item{
        border: 2px solid #b38f00;
    }

    .contact-item-about::after{
        display: none;
    }   

    .contact-item-open::after{
        display: none;
    }

    .contact-item-email::after{
        display: none;
    }
}



@media screen and (max-width: 425px) {
    .header-logo{
        margin-left: 25px;
    }
 
    .nav-btn{
        height: 30px;
        right: 25px;
        top: 70px;
    }
    
    
}



@media screen and (max-width: 320px) {
    h1{
        font-size: 40px;
    }
    
}

@media screen and (max-width: 240px) {

    h1{
        margin: 10px auto;
        display: block;
    }
}

