*{
    box-sizing: border-box;
}

body{
    padding-top: 55px;
    font-size: 15px;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    background-image: url(../images/general/background1.png);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding-left: none;
}


.main-header{
    width: 100%;
    background-color: #b38f00;
    color:#fff;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-logo{
    margin-left: 50px;
    /* margin-top: 5px; */
    display: flex;
    align-items: center;
}

.main-navigation{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.site-navigation{
    /* width: 700px; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.site-navigation a{
    margin:7px 14px;
    padding: 10px 0;
}

.site-navigation a:hover{
    color: #000000;
    border-bottom: solid 2px #000;
    transition: 1s;
}

.header-shop{
    position: relative;
    font-size: 25px;
    color: #000;
}

.header-shop span{
    background-color: red;
    color: #fff;
    padding: 1px 4px;
    font-size: 13px;
    text-align: center;
    border-radius: 14px;
    position: absolute;
    top:-10;
    right: -6px;
}

.social-list{
    display: flex;
    align-items: center;
}

.social-button-header{
    display: inline-block;
    font-size: 21px;
    padding: 5px 7px;
    /* margin-right: 5px; */
    /* border-radius: 30px; */
    /* margin-bottom: 20px; */
}

.social-button-header:hover{
    color: #000;
}

.information{
    display: flex;
    justify-content: flex-start;
    width: 700px;
    border-bottom: 1px solid #000;
}

.information li a{
    padding: 7px 14px;
}

.fa-angle-down{
    /* padding: 15px; */
    margin-left: 10px;
    color: #000;
}

.fa-mobile-screen, .fa-envelope, .fa-circle-exclamation{
    padding: 10px;
    color: #000;
    font-size: 20px;
}

.menuList{
    background-color: #fff;
    color: #000;
    width: 100px;
    position: absolute;
    right: 530px;
    top: 90px;
    text-align: center;
    display: none;
}

.menuList li{
    padding: 15px;
}

.menuListBlock{
    display: block;
}

.delivery-info{
    text-transform: none;
    background-color: #000;
    padding: 10px 15px;
    position: absolute;
    top: 40px;
    display: none;
}

.delivery-info-block{
    display: block;
    transition: 2s;
}

.navigation-container{ 
    align-items: center;
}


.nav-btn{
    display: none;
    color: #000000;
    font-size: 23px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    height: 26px;
}

.nav-btn div{
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 4px 4px
}



.mobile-close{
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 6px 13px;
    display: none;
    font-size: 19px;
}

main{
    margin-top: 90px;
}

.menu-container{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; 
}



.nav-item .button{
    display: block;
    padding: 8px 14px;
    margin: 8px 14px;
}



.nav-item .button:hover{
    background-color: #b38f00;
}

.active-button{
    background-color: #b38f00;
}

.active-btn{
    background-color: #b38f00;
}



.menu-nav{
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}



.menu{
    display: none;
    height: 40px;
    width: 80px;
    margin: 13px 30px;
    background-color: #b38f00;
    color: #000;
    border: none;
    margin-left: auto;
}



.menu-list{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}



.menu-item{
    background-color: #0d0d0d;
    padding: 30px;
    margin: 30px;
    width: 260px;
    position: relative;
    margin-bottom: 70px;
}

.menu-item h3{
    text-transform: capitalize;
}

.details-btn{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #b38f00;
    display: block;
    margin: 0 5px;
}

.shop-btn{
    font-size: 30px;
    background: none;
    border: none;
    color: #fff;
    /* border-radius: 20px; */
}

.shop-container{
    display: flex;
    justify-content: space-between;
}

.shop-btn:hover{
    /* box-shadow: 0 0 6px 0 white; */
    color: #b38f00;
}

/* .product__price{
    margin: 10px 0;
} */




.hide-btn{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #b38f00;
    margin-left: 25%;
    margin-bottom: 20px;

}

.info{
    padding: 10px;
    text-align: center;
    margin: 0;
}



.active-info{
    display: block;
}

.details-btn:hover{
    box-shadow: 0 0 6px 0 white;
}



.info-container{
    position: absolute;
    display: none;
    top: 315px;
    left: 0;
    right: 0;
    background-color: #0d0d0d;
    z-index: 100;
    border-top: 1px solid #fff;
    text-transform: none;
}


.hide-map{
    position: fixed;
    top: 15vh;
    left: 20vw;
    display: none;
}

.show-map{
    display: block;
}

.map-close{
    position: fixed;
    top: 15vh;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 20px;
    padding: 2px 8px;
    text-transform: lowercase;
    font-weight: bold;
}













/* .modal-window{
    max-width: 900px;
    justify-content: space-around;
    margin: 0 auto 30px;
    margin-top: 50px;
    background-color: #fff;
    color: #000;
    padding: 20px;
}

.cart-container{
    display: flex;
    list-style: none;
    padding: 10px;
}

.product-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-container{
    width: 15%;
    display: flex;
    flex-direction: column;
}

.quantity-container{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.total-container{
    width: 15%;
    display: flex;
    flex-direction: column;
}


.product{
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
} */

.mother-modal-window{
    max-width: 900px;
    justify-content: space-around;
    margin: 0 auto 30px;
    margin-top: 50px;
    background-color: #fff;
    color: #000;
    padding: 20px;
}

.modal-window{
    /* max-width: 900px;
    justify-content: space-around;
    margin: 0 auto 30px;
    margin-top: 50px;
    background-color: #fff;
    color: #000; */
    border: 2px solid #b38f00;
    display: block;
    margin: 13px;
    /* padding: 10px; */
}

.cart-header{
    border-bottom: 2px solid #b38f00;
    display: flex;
    margin-bottom: 20px;
    background-color: grey;
}

.cart-container{
    display: flex;
    text-transform: capitalize;
    flex-direction: column;
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
}

.cart-item{
    display: flex;
    margin: 15px 0;
}

.product-title{
    width: 50%;
    padding-left: 10px;
}

.price-title{
    width: 15%;
}

.quantity-title{
    width: 20%;
}

.total-title{
    width: 15%;
}


.product{
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* padding-left: 10px; */
}

.price{
    width: 15%;
    display: flex;
    align-items: center;
}

.price span{
    margin: 0 5px;
}

.quantity{
    width: 20%;
    display: flex;
    align-items: center;
}

.total{
    width: 15%;
    display: flex;
    align-items: center;
    word-spacing: 20px;
}

.total span {
    margin: 0 5px;
}

.quantity span{
    margin: 0 10px;
}

.cart-container button{
    background: none;
    border: none;
    font-size: 17px;
}

.fa-circle-xmark{
    margin-right: 15px;
}

.product img{
    margin-right: 80px;
}

.subtotal{
    text-transform: none;
    text-align: right;
    font-size: 17px;
    padding: 10px;
    padding-right: 50px;
    background-color: grey;
    margin: 0 auto;
}

.cart-form input, .cart-form button{
    display: block;
    width: 300px;
    margin: 10px 20px;
}

.cart-form-container{
    display: flex;
    margin: 30px auto;
    text-transform: none;
    flex-wrap: wrap;
    max-width: 500px;
}

.cart-form{
    max-width: 400px;
    margin: 0 auto;
}

.cart-form button{
    background-color: #b38f00;
    border: none;
    height: 33px;
}

.cart-form button:hover{
    box-shadow:  0 0 10px 1px black;
}
























.main-footer{
    font-size: 15px;
    background-color: #0d0d0d;
    position: absolute;
    width: 100%;
}

.main-footer .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

}

.footer-contacts{
    color: #ffffff;
    text-align: left;   
    line-height: 20px;
    margin-left: 50px;
}

a.found{
    text-decoration: underline;
}

.social-footer{
    text-align: center;
}

.social-footer p{
    display: block;
    margin-bottom: 20px;
}

.social-button{
    display: inline-block;
    font-size: 21px;
    padding: 10px 12px;
    margin-right: 5px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.social-button:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 1s;
}

.create{
    text-align: center;
    width: 26%;
    margin-right: 50px;
    margin-bottom: 30px;
}

.owner{
   text-transform: capitalize;
   padding: 8px 16px;
   padding: 7px;
   border: 1px solid #fff;
}

.owner:hover{
   box-shadow: 0 0 10px 1px;
}
































@media screen and (max-width:1150px) {
    .hide-map{
        left: 12vw;
    }
   }


@media screen and (max-width: 1024px) {
    .hide-map{
        position: fixed;
        top: 15vh;
        left: 10vw;
        display: none;
    }
 
    .show-map{
        display: block;
    } 
   }

@media screen and (max-width: 1020px) {
    body{
        background-size: cover;
    }      
    
    .found{
        display: none;
    }
}

@media screen and (max-width: 945px) {

    .information{
        display: none;
    }

    .social-list{
        display: none;
    }

    .header-logo{
        margin: 20px;
        margin-left: 60px;
    }
 
    .nav-btn{
     position: absolute;
     display: block;
     right: 60px;
     top: 50px;
     
 }
 
    .close-btn{
     display: block;
     position: fixed;
     z-index: 10000;
     right: 20px;
     top: 30px;
 }
 
    .site-navigation{
        display: none;
        padding-left: 0;
    }
 
 
 
    .mobile-main-nav{
     margin-left: 0;
     position: fixed;
     z-index: 1000;
     background-color: #b38f00;
     display: flex;
     align-items: center;
     vertical-align: middle;
     justify-content: space-around;
     height: 100vh;
     width: 100vw;
     top: 0;
     opacity: 0.99;
     padding-left: 0;
     transition: 0.8s;
 
 }
 
 .site-navigation a:hover{
     border-bottom: 1px solid #000;
     color: #000000;
     transition: 0.8s;
 }
 
 
 
 .header-logo-none{
     display: none;
 }
 
 .nav-btn-none{
     display: none;
 }
 
 .mobile-site-nav{
     display: flex;
     flex-direction: column;
     line-height: 90px;
 }
 
 .social-button{
     background-color: #fff;
     color: #000;
 }
 
 
 .social-footer{
     margin: 0 30px;
 }
 
 .create{
     margin: 30px auto;
 }
 


}

@media screen and (max-width:800px) {
    .create{
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }

    .social-footer{
        margin-right: 50px;
    }

}

@media screen and (max-width: 768px) {


    body{
       padding-top: 0;
       background-size: cover;
   }

   .main-header{
       position: relative;
   }

   .header-logo{
       margin: 20px;
       margin-left: 60px;
   }

   .nav-btn{
    position: absolute;
    display: block;
    right: 60px;
    top: 50px;
    
}

   .close-btn{
    display: block;
    position: fixed;
    z-index: 10000;
    right: 20px;
    top: 30px;
}

   .site-navigation{
       display: none;
       padding-left: 0;
   }



   .mobile-main-nav{
    margin-left: 0;
    position: fixed;
    z-index: 1000;
    background-color: #b38f00;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    top: 0;
    opacity: 0.99;
    padding-left: 0;
    transition: 0.8s;

}

.site-navigation a:hover{
    border-bottom: 1px solid #000;
    color: #000000;
    transition: 0.8s;
}



.header-logo-none{
    display: none;
}

.nav-btn-none{
    display: none;
}

.mobile-site-nav{
    display: flex;
    flex-direction: column;
    line-height: 90px;
}

.social-button{
    background-color: #fff;
    color: #000;
}


.social-footer{
    margin: 0 30px;
}

.create{
    margin: 30px auto;
}


}

@media screen and (max-width: 767px) {
    .menu{
        display: block;
    }
    
}

@media screen and (max-width: 760px) {
    main{
        margin-top: 30px;
    }

    .menu-nav{
        display: none;
    }

    .nav-mobile{
        display: block;
    }

    .btn{
        display: block;
        font-size: 17px;
    }


}

@media screen and (max-width: 620px) {



    .footer-contacts{
        margin: 30px 10px;
        text-align: center;
    }
    .main-footer .container{
        display: block;
    }
    .social-footer{
        margin: 0 auto;
    }
    .create{
        width: auto;
        margin: 30px 10px;
    }

 }

 @media screen and (max-width: 425px) {
    .header-logo{
        margin-left: 25px;
    }
 
    .nav-btn{
        height: 30px;
        right: 25px;
        top: 45px;
    }

    
}





